<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<ul>
  <% @org.spaces.each do |space| %>
    <li>
      <%= link_to space.name, org_space_path(space) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>
<%= link_to 'New Space', url_for([:new, @org, :space]) %>
