%p#notice= notice
%h2
  = @org.name
  org
%hr/
Spaces:
%ul
  - @org.spaces.each do |space|
    %li
      = link_to space.name, org_space_path(space)
= link_to 'New Space', url_for([:new, @org, :space])
%hr/
Members:
%ul
  - @org.members.each do |member|
    %li
      = link_to member.email, org_member_path(member)
= link_to 'New Member', url_for([:new, @org, :member])
%hr/
= link_to 'Edit', edit_org_path(@org)
|
= link_to 'Back', orgs_path
