= form_for [@org, @space] do |f|
  - if space.errors.any?
    #error_explanation
      %h2
        = pluralize(space.errors.count, "error")
        prohibited this space from being saved:
      %ul
        - space.errors.full_messages.each do |message|
          %li= message

  - if params[:org_id]
    = f.hidden_field :org_id, value: @org.id

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit
