%p#notice= notice
%p
  %strong Name:
  = @space.name
%p
  %strong Org:
  = link_to @space.org.name, org_path(@space.org)
= link_to 'Edit', edit_space_path(@space)
|
= link_to 'Back', org_spaces_path(@space.org_id)
