<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space.name %>
</p>

<p>
  <strong>Org:</strong>
  <%= link_to @space.org.name, @org %>
</p>

<%= link_to 'Edit', edit_org_space_path(@space) %> |
<%= link_to 'Back', org_spaces_path %>
