%p#notice= notice

%h1 Listing apps

%table
  %thead
    %tr
      %th Application name
      %th Application uris
      %th State
      %th Limits
      %th Details
      %th Space
      %th Buildpack
      %th Last uploaded
      %th Services
      %th
      %th
      %th

  %tbody
    - @apps.each do |app|
      %tr
        %td= app.application_name
        %td= app.application_uris
        %td= app.state
        %td= app.limits
        %td= app.details
        %td= app.space.name
        %td= app.buildpack
        %td= app.last_uploaded
        %td= app.services
        %td= link_to 'Show', app_path(app)
        %td= link_to 'Edit', url_for([:edit, app])
        %td= link_to 'Destroy', app_path(app, params: { space_id: app.space.id } ), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New App', new_space_app_path
