<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Org</th>
      <th>Space</th>
      <th>Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.email %></td>
        <td><%= member.org.name %></td>
        <td><%= member.space.name %></td>
        <td><%= member.roles %></td>
        <td><%= link_to 'Show', org_member_path(member.org, member) %></td>
        <td><%= link_to 'Edit', org_member_path(member.org, member), action: 'edit' %></td>
        <td><%= link_to 'Destroy', org_member_path(member.org, member), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_org_member_path %>
