<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Org:</strong>
  <%= @member.org.name %>
</p>

<p>
  <strong>Roles:</strong>

  <%= @member.roles %>

</p>

<%= link_to 'Edit', url_for([:edit, @member.org, @member]) %> |
<%= link_to 'Back', org_members_path %>
