<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Org:</strong>
  <%= @member.org %>
</p>

<p>
  <strong>Space:</strong>
  <%= @member.space %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @member.roles %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
